# Mount Rainier
Climbing Dataset.
Check it out here:
https://www.kaggle.com/codersree/mount-rainier-weather-and-climbing-data

In [146]:
# various python import statements
import pandas

In [147]:
# grabbing data
climb_path = '../data/climbing_statistics.csv'
weather_path = '../data/rainier_weather.csv'

climb = pandas.read_csv(climb_path)
weather = pandas.read_csv(weather_path)

## Explore Data

In [148]:
def describe_data(dataframe):
	'''
	simply describes a dataset nicely by using
	various methods and print statements.
	'''
	print(
		'\n====================' \
		'\nDISPLAY HEAD OF DATA' \
		'\n====================' \
	)
	display(dataframe.head())
	print(
		'\n=====================' \
		'\nDISPLAY SHAPE OF DATA' \
		'\n=====================' \
	)
	print(dataframe.shape)
	print(
		'\n------------------' \
		'\nalso, take note of' \
		'\n duplicate dates! ' \
		'\n------------------' \
	)
	print(
		'(' \
		f'{dataframe["Date"].drop_duplicates().count()}' \
		', 7)' \
	)
	print(
		'\n=====================' \
		'\nDISPLAY TYPES OF DATA' \
		'\n=====================' \
	)
	dataframe.info()
	print(
		'\n===================' \
		'\nMISSING DATA COUNTS' \
		'\n===================' \
	)
	print(dataframe.isnull().sum())

In [149]:
describe_data(weather)

====================
DISPLAY HEAD OF DATA
====================

,Date,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solare Radiation AVG
0,12/31/2015,13.845000,19.062917,21.870833,21.977792,62.325833,84.915292
1,12/30/2015,13.822917,14.631208,18.493833,3.540542,121.505417,86.192833
2,12/29/2015,13.834583,6.614292,34.072917,0.000000,130.291667,85.100917
3,12/28/2015,13.710417,8.687042,70.557917,0.000000,164.683750,86.241250
4,12/27/2015,13.362500,14.140417,95.754167,0.000000,268.479167,31.090708

=====================
DISPLAY SHAPE OF DATA
=====================
(464, 7)

------------------
also, take note of
 duplicate dates!
------------------
(464, 7)

=====================
DISPLAY TYPES OF DATA
=====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 7 columns):
Date                     464 non-null object
Battery Voltage AVG      464 non-null float64
Temperature AVG          464 non-null float64
Relative Humidity AVG    464 non-null float64
Wind Speed Daily AVG     464 non-null float64
Wind Direction AVG       464 non-null float64
Solare Radiation AVG     464 non-null float64
dtypes: float64(6), object(1)
memory usage: 25.5+ KB

===================
MISSING DATA COUNTS
===================
Date                     0
Battery Voltage AVG      0
Temperature AVG          0
Relative Humidity AVG    0
Wind Speed Daily AVG     0
Wind Direction AVG       0
Solare Radiation AVG     0
dtype: int64

In [150]:
describe_data(climb)

====================
DISPLAY HEAD OF DATA
====================

,Date,Route,Attempted,Succeeded,Success Percentage
0,11/27/2015,Disappointment Cleaver,2,0,0.0
1,11/21/2015,Disappointment Cleaver,3,0,0.0
2,10/15/2015,Disappointment Cleaver,2,0,0.0
3,10/13/2015,Little Tahoma,8,0,0.0
4,10/9/2015,Disappointment Cleaver,2,0,0.0

=====================
DISPLAY SHAPE OF DATA
=====================
(4077, 5)

------------------
also, take note of
 duplicate dates!
------------------
(391, 7)

=====================
DISPLAY TYPES OF DATA
=====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4077 entries, 0 to 4076
Data columns (total 5 columns):
Date                  4077 non-null object
Route                 4077 non-null object
Attempted             4077 non-null int64
Succeeded             4077 non-null int64
Success Percentage    4077 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 159.3+ KB

===================
MISSING DATA COUNTS
===================
Date                  0
Route                 0
Attempted             0
Succeeded             0
Success Percentage    0
dtype: int64

## Clean Data

In [151]:
# dates should be kept as a date object
weather['Date'] = pandas.to_datetime(weather['Date'])
climb['Date'] = pandas.to_datetime(climb['Date'])

# # this doesn't seem necessary
# weather = weather.drop(['Battery Voltage AVG'], 1)
# climb = climb.drop(['Success Percentage'], 1)